.button {
    -fx-font-weight: bold;
}

.text-field-table-cell > * {
    -fx-padding: 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-background-radius: 0;
}
