/*
* Color Scheme:
* http://ethanschoonover.com/solarized
*/

.root {
    -fx-background-color: #fdf6e3;
}
/* Menubar */
.menu-bar {
    -fx-background-color: #eee8d5;
}
.menu-bar .context-menu {
    -fx-effect: none;
    -fx-background-color: #eee8d5;
    -fx-border-color: #657b83;
    -fx-border-width: 1;
}
.menu-bar .menu:hover > .label,
.menu-bar .menu:showing > .label,
.menu-bar .menu-item:focused .label {
    -fx-text-fill: #ffffff;
}

.label {
    -fx-text-fill: #657b83;
}

.button {
    -fx-background-color: none;
    -fx-border-color: #b58900;
    -fx-text-fill: #b58900;
    -fx-cursor: hand;
}
.button:hover {
    -fx-underline: true;
}

.check-box {
    -fx-text-fill: #657b83;
}
.check-box .box {
    -fx-border-color: #657b83;
    -fx-background-color: none;
    -fx-border-radius: 0;
}

.text-field {
    -fx-border-color: #b58900;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-background-color: #eee8d5;
}

.text-field-tree-table-cell > *,
.text-field-table-cell > * {
    -fx-padding: 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-background-radius: 0;
}

/*Basic Table Styles*/
.table-view .column-header-background,
.table-view .column-header-background .table-column,
.table-view .column-header-background .filler,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .table-column,
.tree-table-view .column-header-background .filler {
    -fx-background-color: #eee8d5;
}

.table-view .column-header-background .table-column .label,
.tree-table-view .column-header-background .table-column .label {
    -fx-alignment: CENTER_LEFT;
}
.tree-table-view .tree-table-row-cell .tree-disclosure-node .arrow {
    -fx-background-color: #657b83;
}

.tree-table-row-cell,
.table-row-cell {
    -fx-background-color: #fdf6e3;
}

.tree-table-cell,
.table-cell {
    -fx-background-color: #fdf6e3;
    -fx-text-fill: #657b83;
}

/* Button cells */
.tree-table-view .button {
    -fx-padding: 0 2 0 2;
}

.tree-table-row-cell:selected .tree-table-cell,
.table-row-cell:selected .table-cell {
    -fx-background-color: #eee8d5;
}

.table-view,
.tree-table-view {
    -fx-background-color: #fdf6e3;
    -fx-border-color: #657b83;
    -fx-border-width: 1;
}

.table-column {
    -fx-border: none;
    -fx-background-color: #fdf6e3;
}

.input-field {
    -fx-pref-width: 120;
}

.tree-table-view.disabled .tree-table-cell,
.table-view.disabled .table-cell {
    -fx-text-fill: darkgray;
}

/* MonthControl specific */
.month-control .table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.month-control #budgetTable,
.month-control #totalsTable {
    -fx-border-width: 1 1 0 1;
}

.month-control #copyToNext {
    -fx-padding: 1 4 1 4;
}