.button {
    -fx-font-weight: bold;
}

.table-view .table-cell {
    
}

.text-field-table-cell > * {
    -fx-padding: 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-background-radius: 0;
}

.input-field {
    -fx-pref-width: 120;
}

.table-view.disabled .table-cell {
    -fx-text-fill: darkgray;
}