/sdbudget-desktop/nbproject/
/sdbudget-desktop/src/main/resources/desktop/styles/css/
/sdbudget-desktop/configuration.yaml
/sdbudget-core/.nb-gradle/
/sdbudget-core/build/
/sdbudget-core/.gradle
/sdbudget-desktop/nbproject/
/sdbudget-web/.gradle/
/sdbudget-web/.nb-gradle/
/sdbudget-web/build/
/sdbudget-web/private/
/sdbudget-web/.nb-gradle-properties
*.swp
/gh-pages/
