/java-production/nbproject/
/java-production/src/main/resources/desktop/styles/css/
/java-production/configuration.yaml
/java-web/
/core/.nb-gradle/
/core/build/
/core/.gradle
/sdbudget-desktop/nbproject/
/sdbudget-web/.gradle/
/sdbudget-web/.nb-gradle/
/sdbudget-web/build/
/sdbudget-web/private/
